# {{ ansible_managed }}

global
        user ansible
        group root
        daemon
        pidfile # where we get this one? bsd specific?

frontend http_in
        mode http
        option httplog
        bind *:80
        http-request redirect scheme https unless { ssl_fc }



frontend https_in
        mode tcp // use this here as well? alternative ?
        option tcplog
        bind *:443

        # list projects here, dynamisch über variablen evtl ? Wie geht das am 
        # enspanntesten ab auf für die zukunft
        # TODO: create group_vars/emailseco for postgres creds etc -> hostvars

        {% for host in proxy %}
        acl {{ host.key }} req.ssl_sni -i {{ host.host }}
        acl {{ host.key }} req.ssl_sni -i www.{{ host.host }}
        {% endfor %}

  
{% for host in proxy %}
backend {{ host.key }}_backend_ssl
        mode tcp
        option ssl-hello-chk
        server {{ host.key }} {{ host.internal }}:{{ host.port }}
{% endfor %}
